.maincontent {
    padding-top: 0%;
    padding-left: 0%;
  }
  
  .col {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .col-lg {
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    flex-basis: 30%;
  }
  
  .col-lg img {
    display: block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
  
  .imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .text-box {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  